# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/
*./log

# Environment files
.env
.env.test
frontend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
.DS_Store

# Build artifacts
frontend/dist/
frontend/node_modules/
coverage/

# OS files
Thumbs.db
desktop.ini